<!DOCTYPE html>
<html>
<head>
<title>Campaigns</title>
<script>
	console.log("campaign/index.html: Inline First");
</script>
</head>

<body>
	<p>This is campaigns</p>
</body>
<script data-main="/js/main" src="/js/lib/requirejs/require.js"></script>

<script>
require(["./main"], function() {
	console.log("campaign/index.html: Inline Loaded /js/main");
	require(["app/modules/campaign"], function(campaign) {
		console.log("campaign/index.html: Inline Loaded /app/modules/campagin");
		campaign({
			test: "hello"
		});
	});
});

console.log("campaign/index.html: Inline Last");
</script>
</html>